.container {
	display: flex;
	justify-content: center;
	width: 85%;
	flex-direction: column;
	margin-bottom: 10rem;
}

/* .timelineRadioSelectBtn { */
/* background: red; */
/* } */

/* .radioGroup {
	background: red;
	display: flex;
} */

.formControlRadioSelect {
	color: #fff;
}
