.cards-container {
	margin: 50px 0;
	padding: 5px;
	max-width: 90%;
	/* display: flex;
	justify-content: center;
	flex-wrap: wrap; */
	gap: 1rem;

	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
@media only screen and (max-width: 1000px) {
	.cards-container {
		/* flex-direction: column; */
		align-items: center;
		max-width: 95%;
	}
}

.card-headline-text {
	color: red;
	margin-right: 0.5rem;
}

.card {
	margin: 0 2% !important;

	background: #fff;
	border-radius: 5px;
}

.infected {
	border-bottom: 10px solid rgb(245, 235, 177);
}

.recovered {
	border-bottom: 10px solid rgb(133, 235, 138);
}

.deaths {
	border-bottom: 10px solid red;
}

.hotpink {
	border-bottom: 10px solid hotpink;
}
